@model bs4stockBackEnd.Models.Mager

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaPwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authority)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("回到管理員列表", "Index")
        </div>
    }
</div>
